*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    background-color: #6a48aa;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}
nav{
    display: flex;
    width: 100vw;
    height: 11vh;
    background-color: #6A1B9A;
    justify-content: space-between;
    align-items: center;
    
    padding-left: 3%;
}
.logo{
    font-weight: bolder;
    font-size: xx-large;
    cursor: pointer;
}
.anchors{
    display: flex;
    justify-content: space-between;
    width: 30vw;

    padding-right: 4%;
}
.anchors a {
    /*margin-right: 13%;*/
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    color: white;

}


.anchors a:hover{
    color: #E91E63;
}
.M{
    font-size: larger;
    color: #E91E63;
}


.main{
    display: flex;
    
    justify-content: space-around;
    padding-right: 5%;
  
}


.left{
    margin-top: 8vh;
    /*background-color: #9575CD;*/
    border-radius: 25%;
    margin-left: 5vw;
    width: 40vw;
}
.homepng{
    width: 35vw;
    height: auto;
    padding-top: 15vh;
   

}
.text{
    padding-top: 15%;
    font-size: 2rem;
    padding-left: 10%;
    color: white;
}
.hello{
    font-size: 5rem;
    font-weight: 600;
    color: #e65686;
}
.prlinks{
    display: flex;
    
    margin-top: 4%;
    width: 50%;
}
.prlinks a  {
    padding: 10px;
    border: 2px solid pink;
    border-radius: 7px;
    font-size: 16px;
    color: pink;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin: 0px 4px;
}

.prlinks a:hover{
    background-color: white;
    color: #E91E63;
}
.about{
    display: flex;
    
    justify-content: space-around;
    padding-right: 5%;

}
.lefta{
    margin-top: 5vh;
    
    
    margin-left: 2vw;
    width: 50vw;
   
   
    padding-left: 0%;
}
.me{
    width: 30vw;
    height: auto;
    padding-top: 5vh;
}
.lefta p{
    font-size: 1.5rem;
    color: pink;
    padding-left: 0%;
}
.aboutme{
    padding-top: 5%;
    font-size: 2em;
    font-weight: 700;
    color:#e65686 ;
    text-decoration: underline solid #6A1B9A;
}
.texta{
    padding-left: 5%;
    padding-top: 6%;
    
}
.secp{
    padding-top: 5%;
}
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr ;
    padding: 3.5%;
    height: 89vh;
    background-color: #8250C2;
    color: pink;


}
.address{
    grid-column: 1/3;
    grid-row: 2/3;
    padding-right: 3%;
}
.email{
    grid-column: 3/4;
    grid-row: 2/3;
}
.call{
    grid-column: 4/5;
    grid-row: 2/3;
    justify-self: center;
}
.con_main{
    grid-column: 1/5;
    grid-row: 1/2;
    color: #e65686;
    justify-self: center;
    font-size: xx-large;
    align-self: flex-start;
}
.get{
    grid-row: 3/4;
    grid-column: 1/5;
    display: flex;
    padding-top: 5%;
    background-color: #8250C2;
    color: pink;
   

}
h2{
    width: 25%;
}
.form_main{
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-columns: 2fr 2fr 1fr;
    column-gap: 10%;
    row-gap: 4%;
}

.name_section{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color:#FAF9F6;
    opacity: 75%;
    color: #FFFFFF;
    padding-left: 10%;
}
.email_section{
   
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
    background-color:#FAF9F6 ;
    opacity: 75%;
    color: #FFFFFF;
    padding-left: 10%;
    
}
.subject_section{
    background-color:#FAF9F6;
    grid-column:1/3 ;
    grid-row: 2/3;
    opacity: 75%;
    color: #FFFFFF;
    padding-left: 10%;
}
.message_section{
    background-color:#FAF9F6;
    grid-column: 1/3;
    grid-row: 3/5;
    opacity: 75%;
    color: #FFFFFF;
    padding-left: 10%;
}

.submit_button{
    background-color: #6A1B9A;
    grid-column:3/4 ;
    grid-row: 4/5;
    opacity: 75%;
    color:white;
    padding-left: 10%;
}
@media screen and (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: center;
      height: 13vh;
    }
    .anchors {
      width: 100%;
      margin-top: 3%;
    }
    .anchors a {
      margin: 0 10px;
    }
    .main, .about {
      flex-direction: column;
      align-items: center;
      padding-right: 0;
    }
    .left, .lefta {
      width: 80%;
      margin: 3% 0;
      text-align: center;
    }
    .homepng {
      width: 80%;
      padding-left: 10%;
      padding-top: 0%;
    }
    .me{
        width: 50vh;
    }
    .prlinks {
      width: 80%;
      padding-left: 5%;
      justify-content: center;
    }
    .prlinks a {
      margin: 10px;
    }
    .contact {
      display: block;
      grid-template-columns:none;
      grid-template-rows: 1fr 1fr 1fr 1fr 7fr 1fr;
      justify-items: center;
      align-items: start;
    }
    .con_main{
        text-align: center;
        
    }
    .address{
        grid-row: 2/3;
    }
    .email{
        grid-row: 3/4;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .call{
        grid-row: 4/5;
    }

    .get {
        margin-top: 5%;
      padding: 2%;
      grid-row: 5/7;
      margin-bottom: 1%;
    }
    .form_main {
      /*grid-template-columns: 1fr;*/
      grid-template-rows: repeat(5, auto);
      padding-left: 3%;
    }
    input[type="text"], textarea {
      width: 100%;
      margin-bottom: 10px;
    }
    .name_section{
        width: 100%;
    }
    .submit_button {
      width: 100%;
    }
  }
  @media screen and (max-width: 410px){
    .homepng{
        padding-top: 0%;
    }
    .hello{
        font-size: 4rem;
    }
    .text{
        padding-left: 0%;
        padding-top: 7%;
    }
  }
  